*{
    margin: 0;
    padding: 0;
}
body{
    background-color:cyan;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-size: 40px;
}

@media only screen and (max-width:1440px) {
    body{
        background-color: green;
    }
}
@media only screen and (max-width:1024px) {
    body{
        background-color: rgb(239, 148, 37);
    }
}
@media only screen and (max-width:768px) {
    body{
        background-color: aqua;
        font-size: 70px;
    }
}
@media only screen and (max-width:425px) {
    body{
        background-color: rgb(255, 38, 0);
    }
    .text{
        font-size: 60px;

    }
}
